!!! 
%html
  %head
    %title today's twitter trends
    %link(rel="stylesheet" href="/css/reset.css")
    %link(rel="stylesheet" href="/css/text.css")
    %link(rel="stylesheet" href="/css/960.css")
    %link(rel="stylesheet" href="/css/style.css")
    %script(type="text/javascript" 
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
    %script(type="text/javascript" 
            src="/js/custom.js")

  %body
    %h1 What's trend in Germany?
    .container_12
      %div{:id => "sidebar", :class => "grid_3"}
        %ul.round
          - trend.each do |key|
            %li
              - if /^\#/ =~ key
                %a(href="/#{key[1..-1]}")
                  ="#{key}"
              - else
                %a(href="/#{key}")
                  ="#{key}"

      %div{:id => "content", :class => "grid_9"}
        = yield
